<%- include("header") -%>

    <h2>This is the about page.</h2>

    <p>
        My name is William Felciano Rios and I am an upcoming software developer.This app is a simple todo list web app that displays my development skills using HTML CSS Javascript as well as node.js express and the templating framework ejs
    </p>


    <%- include("footer") -%>